{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'calc_app/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'calc_app/main.css' %}">
</head>
<body>
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

          {% if request.user.is_authenticated %}
            <li><a href="{% url 'index_view' %}">Calculator</a></li>
            <li><a href="{% url 'profile_view' %}">History for {{ user }}</a></li>
            <li><a href="{% url 'logout_view' %}?next={% url 'index_view' %}">Logout</a></li></ul>
          {% else %}
            <li><a href="{% url 'create_user_view' %}">Create An Account <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'login_view' %}?next={% url 'index_view' %}">Login</a></li>
          {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{% block header %}
    <div class="page-header">
    <h1>Calculator <small>Please enter values to calculate: </small></h1>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
</div>
</body>
</html>