{% extends 'base.html' %}

{% block header %}
    <div class="page-header">
    <h1>Calculator <small>Please enter values to calculate: </small></h1>
    </div>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.a }}
    {{ form.action }}
    {{ form.b }}
     <input type="submit" value="Submit" />
    <br>
    <br>
    <h4><em>Equation entered: {{ a }} {{ action }} {{ b }}</em></h4>
    <output><h4><strong>Result: {{ result }}</strong></h4>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </ul>
    {% endif %}</output>

</form>

{% endblock %}
